  <head>
    <title>Messyblessings</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Spectral+SC|Tangerine" rel="stylesheet">
    <!-- CUSTOM STYLESHEETS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- CUSTOM JAVASCRIPT -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- BOOTRSTRAP JAVASCRIPT -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>