<nav>
  <!-- FULL WIDTH NAVIGATION BAR SLIDE IN FROM LEFT -->
  <div id="menu-navigation" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">ABOUT</a>
        <a href="#">PRODUCTS</a>
        <a href="#">CONTACT US</a>
  </div>

  <!-- SMALL MENU BUTTON TOP LEFT CORNER -->
  <span id="menu-button" onclick="openNav()">MENU</span>

  <!-- FULL WIDTH SOCIAL SLIDE IN MENU FROM RIGHT -->
  <div id="menu-social" class="social-sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSocialNav()">&times;</a>
        <a href="#">TWITTER</a>
        <a href="#">FACEBOOK</a>
        <a href="#">INSTAGRAM</a>
  </div>

  <!-- SMALL SOCIAL BUTTON TOP RIGHT CORNER -->
  <span id="menu-social-button" onclick="openSocialNav()">SOCIAL</span>
</nav>